# Working on real project with python

# (A part of Big Data Analysis)

# Police DataSet

In [2]:
#Library to use in the project
import pandas as pd
import numpy as np

In [27]:
#import the police dataset
Police_Data = pd.read_csv(r'C:\Users\USER 01\Desktop\Police_Data.csv')

In [28]:
Police_Data.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

Instructions for Data Cleansing

1) Remove the column that only contains missing values

In [29]:
Police_Data.isnull()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65531,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65532,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65533,False,False,True,True,True,True,True,True,True,False,True,True,True,True,False
65534,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False

In [15]:
Police_Data.isnull().sum() #is Na

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [30]:
drop_collumns = ['country_name']

In [31]:
Police_Data.notnull().sum() #no NA

stop_date             65535
stop_time             65535
country_name              0
driver_gender         61474
driver_age_raw        61481
driver_age            61228
driver_race           61475
violation_raw         61475
violation             61475
search_conducted      65535
search_type            2479
stop_outcome          61475
is_arrested           61475
stop_duration         61475
drugs_related_stop    65535
dtype: int64

In [35]:
Police_Data.drop(columns=drop_collumns, inplace = True) #use inplace to make permanent change to the original dataframe

In [34]:
Police_Data

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

2) For Speeding, were Men or Woman stopped more often

In [40]:
Police_Data[(Police_Data['driver_gender'] == 'M') & (Police_Data['violation'] == 'Speeding')]

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
6,4/1/2005,17:30,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,7/13/2005,10:15,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65516,12/6/2012,10:52,M,1988.0,24.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65522,12/6/2012,14:17,M,1980.0,32.0,White,Speeding,Speeding,False,NaN,Citation,False,30+ Min,False
65523,12/6/2012,14:33,M,1967.0,45.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
65529,12/6/2012,16:00,M,1994.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False

In [45]:
Police_Data[(Police_Data['driver_gender'] == 'F') & (Police_Data['violation'] == 'Speeding')]

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,6/6/2005,13:20,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
11,7/13/2005,19:00,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
13,7/18/2005,19:30,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
19,7/24/2005,20:10,F,1958.0,47.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65521,12/6/2012,14:00,F,1992.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65524,12/6/2012,15:06,F,1974.0,38.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65527,12/6/2012,15:26,F,1981.0,31.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [46]:
Police_Data.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [52]:
# Or you can shortly use this methond
Police_Data[Police_Data.violation =='Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [53]:
Police_Data.stop_time #extract a column from dataframe

0         1:55
1         8:15
2        23:15
3        17:15
4        10:00
         ...
65530    17:54
65531    22:22
65532    23:20
65533     0:23
65534     0:30
Name: stop_time, Length: 65535, dtype: object

Question(Groupby)

3.Does gender affect who gets searched during a stop

In [56]:
Police_Data.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [63]:
Police_Data.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [66]:
Police_Data.search_conducted.value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

4) What is the mean stop_duration

In [69]:
Police_Data.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [70]:
#df['column_name'] = df['Column_name'].map({old:new, old:new})

Police_Data['stop_duration'].map({'0-15 Min': 7.5 , '16-30 Min': 24 , '30+ Min':45})

0         7.5
1         7.5
2         7.5
3        24.0
4         7.5
         ...
65530     7.5
65531     7.5
65532     7.5
65533     NaN
65534     7.5
Name: stop_duration, Length: 65535, dtype: float64

In [71]:
#to save or make changes to the original dataframe:
# the map function take every item or variable that is the same as '' and replace it with the give after(:)
Police_Data['stop_duration'] = Police_Data['stop_duration'].map({'0-15 Min': 7.5 , '16-30 Min': 24 , '30+ Min':45})

Police_Data.head(4)

In [73]:
#df['Column_name'].mean()
Police_Data.stop_duration.mean()

12.187420698181345

5) Compare the age distribution for each violation

In [74]:
#using the groupby to compare the age violation of each distribution

Police_Data.groupby('driver_age').describe()

           driver_age_raw                                                  \
                    count         mean       std     min      25%     50%
driver_age
15.0                  5.0  1992.600000  1.516575  1991.0  1992.00  1992.0
16.0                 34.0  1992.088235  2.478607  1989.0  1990.00  1992.0
17.0                449.0  1991.144766  2.229865  1988.0  1989.00  1991.0
18.0               1345.0  1990.211896  2.203320  1987.0  1988.00  1990.0
19.0               2388.0  1989.463568  2.169390  1986.0  1988.00  1989.0
...                   ...          ...       ...     ...      ...     ...
83.0                  2.0  1926.000000  2.828427  1924.0  1925.00  1926.0
84.0                  3.0  1925.666667  1.154701  1925.0  1925.00  1925.0
85.0                  1.0  1927.000000       NaN  1927.0  1927.00  1927.0
86.0                  6.0  1923.166667  1.471960  1922.0  1922.00  1922.5
88.0                  2.0  1920.500000  3.535534  1918.0  1919.25  1920.5

                            stop_duration                                     \
                75%     max         count       mean        std  min     25%
driver_age
15.0        1993.00  1995.0           5.0  25.800000  18.776981  7.5   7.500
16.0        1994.00  1996.0          34.0  18.000000  14.425356  7.5   7.500
17.0        1993.00  1995.0         449.0  11.154788   7.929164  7.5   7.500
18.0        1992.00  1994.0        1344.0  11.501116   8.573312  7.5   7.500
19.0        1991.00  1993.0        2388.0  11.503141   8.357174  7.5   7.500
...             ...     ...           ...        ...        ...  ...     ...
83.0        1927.00  1928.0           2.0  26.250000  26.516504  7.5  16.875
84.0        1926.00  1927.0           3.0   7.500000   0.000000  7.5   7.500
85.0        1927.00  1927.0           1.0   7.500000        NaN  7.5   7.500
86.0        1924.50  1925.0           6.0  16.500000  15.443445  7.5   7.500
88.0        1921.75  1923.0           2.0  15.750000  11.667262  7.5  11.625


              50%     75%   max
driver_age
15.0        24.00  45.000  45.0
16.0         7.50  24.000  45.0
17.0         7.50   7.500  45.0
18.0         7.50   7.500  45.0
19.0         7.50   7.500  45.0
...           ...     ...   ...
83.0        26.25  35.625  45.0
84.0         7.50   7.500   7.5
85.0         7.50   7.500   7.5
86.0         7.50  19.875  45.0
88.0        15.75  19.875  24.0

[73 rows x 16 columns]

In [75]:
Police_Data.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0

In [95]:
L = [1,2,3,-5,6,7,-67]
m = L[0]
for i in L:
    if i < m:
        m=i
        idx = L.index(m)
print(idx, m)

6 -67

In [97]:
L = [1,2,3,-5,6,7,8]
m = L[0]
idx = 0
c=0
for i in L:
    if i < m:
        m=i
        idx = c
    c+=1
print(idx, m)

3 -5